@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');
body {
    font-family: 'Dosis';
}

.box {
    justify-content: center;
    background: linear-gradient(to right, #e75b1a, #fc5c00);

}

.card {
    color: white;
    border: none;
    border-radius: 1rem;
    margin: 1%;
    text-align: center;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
}

img {
    align-self: center;
    height: 200px;
    width: 100px;
}


.HTML {
    background: linear-gradient(to right, #e2885e, #e44d32);

}

.CSS {
    background: linear-gradient(to right, #e2885e, #4340e4);

}

.JAVASCRIPT {
    background: linear-gradient(to right, #e2885e, #eeea0e);

}

